<div class="gallery-block">
  <h1 class="title">gallery</h1>
  <form (click)="openForm($event)">
    <label>Password <input name = "password" placeholder="wsx" [(ngModel)]="password"/></label>
    <button class="btn-open">Open form</button>
  </form>
  <form *ngIf="showForm" class="form">
    <label class="label" for="title"> Image title </label>
    <input id="title" name = "title" [(ngModel)]="title"/>
    <label class="label" for="url"> Image Url </label>
    <input id="url" name = "url" [(ngModel)]="url"/>
    <button class="btn-add" (click)="onAddImage($event)">Add image</button>
  </form>
  <div class="gallery">
    <app-images
      *ngFor="let gallery of image"
      [title]="gallery.title"
      [url]="gallery.url"
    ></app-images>
  </div>
</div>
