.gallery-block {
  text-align: center;
  padding: 15px;
  border-radius: 6px;
  border: 3px solid blueviolet;
}

.title {
  font-size: 40px;
  font-style: italic;
  text-transform: capitalize;
}

.btn-open {
  padding: 7px;
  border-radius: 5px;
  margin: 5px;
  background: greenyellow;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  padding: 10px;
  margin: 15px auto;
  border-radius: 5px;
  border: 2px solid black;
}

.label {
  margin: 10px;
}

.btn-add {
  background: greenyellow;
  padding: 7px;
  border-radius: 5px;
  margin: 20px 50px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 800px;
  padding: 15px;
  margin-top: 15px;
  border-radius: 5px;
  border: 5px solid blueviolet;
  background: black;
}
