.numbers-block {
  text-align: center;
  width: 30%;
  height: 200px;
  padding: 15px;
  margin: 0 auto;
  border-radius: 7px;
  border: 3px solid black;
  background: gray;
}

.btn-numbers {
  padding: 5px 10px;
  font-size: 18px;
  background: greenyellow;
}

.btn-numbers:hover {
  background: red;
}

.inner-block {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.numbers {
  font-size: 18px;
  padding: 5px;
  width: 40px;
  height: 40px;
  margin: 10px;
  line-height: 240%;
  border-radius: 50%;
  border: 2px solid black;
  background: white;
}


