<div class="numbers-block">
  <button class="btn-numbers" (click)="generateNumbers()">New numbers</button>
  <div class="inner-block">
    <p class="numbers"><strong>{{numbers[0]}}</strong></p>
    <p class="numbers"><strong>{{numbers[1]}}</strong></p>
    <p class="numbers"><strong>{{numbers[2]}}</strong></p>
    <p class="numbers"><strong>{{numbers[3]}}</strong></p>
    <p class="numbers"><strong>{{numbers[4]}}</strong></p>
  </div>
</div>
