.image-card {
  text-align: center;
  padding: 10px;
  margin: 10px;
  border-radius: 7px;
  border: 5px solid blueviolet;
  background: white;
}

.image-title {
  font-size: 24px;
  font-style: italic;
  text-transform: capitalize;
}
